.col-full
{
	width:80%;
	margin:0 auto;

}
.text-justify
{
	text-align:justify;

}

.themecolor
{
	color:#0aad25;
}

.text-center
{
  text-align:center;	
}

.margin-left0
{
	margin-left:0;
}

h2 span
{
color:#727878;
font-size:16px;
font-weight:400;	
}
.margin0
{
	margin:0;
}
.paddingleft20
{
	padding-left:20px;
}
.paddingtop20
{
	padding-top:20px;
}


.btn-outline
{
	border:2px solid #0aad25;
	padding:12px;
	text-decoration:none;
	color:#0aad25;
}

.btn-outline:hover
{
	border:none;
	background-color:#0aad25;
	color:#fff;
}


.contactus a
{
		text-decoration:none;
		color:#0aad25;
	
}

.col-40
{
	width:40%;
	float:left;
	margin-bottom:20px;
}
.col-30
{
	width:30%;
	float:left;
	margin-bottom:20px;
}
.col-50
{
	width:50%;
	float:left;
	margin-bottom:20px;
}

.contactus a:hover
{
		background:none;

}


.col-sidebar-a
{
	float:left;
	width:25%;
}
.col-sidebar-a h4
{
	margin-top:20px;
}
.col-sidebar-a ul
{
  padding-right:10px;
  margin-bottom:60px;
}
.col-sidebar-a ul li
{
  margin-top:0px;
  font-size:13px;
  padding:3px;
}
.col-sidebar-a ul li span
{
  margin-top:0px;
  font-size:15px;
  padding:3px;
}
.col-sidebar-a a
{
  text-decoration:none;
  color:#727878;
}
.col-sidebar-a .btn
{
    border:none;
	padding:10px;
	background-color:#0aad25;
	color:#fff;
	margin:50px 40px;
	text-decoration:none;
	border-radius:0 5em 5em 5em;
}
.col-content_products
{
	padding:20px 30px;
}
.col-content_products a:hover
{
	background-color:#ffffff;
}
.col-content_products .btn
{
	margin-bottom:40px;
	float:right;
}
.col-content_products .btn:hover
{
	background-color:#0aad25;
	color:#fff;
}
.col-content_products .title
{
	margin-top:50px;
}
.prd_image
{
	float:left;
	width:30%;
	margin:15px;
}
.prd_image .image_text
{
	text-decoration: none;
	color:#333;
	margin:0 auto;
}

.col-nut_cat
{
	padding:20px 30px;
}
.col-nut_cat .btn
{
	margin-bottom:40px;
	float:right;
}
.col-nut_cat .btn:hover
{
	background-color:#0aad25;
	color:#fff;
}
.col-nut_cat .title
{
	margin-top:50px;
}
.col-nut_cat ul li
{
	padding:10px 30px;
}
.col-nut_cat .table
{
  width:70%;
  border-collapse:collapse;
}
.col-nut_cat .table td
{
  padding:10px;
  border:none;
}
.col-nut_cat .table th 
{
  padding:10px;
  border:1px solid #0aad25;
  background-color:#0aad25;
  color:white;
  font-size:22px;
}


@media only screen and (min-width: 320px) and (max-width: 767px) {
  
.col-sidebar-a
{
	 width: 100%;
	 margin-bottom:30px;
}
.col-sidebar-a ul {
    padding-right: 10px;
    margin-bottom: 20px;
}
.col-sidebar-a {
    float: left;
    width: 100%;
    padding-top:0px;
}
.prd_image
{
	width:100%;
	margin-left:0;
}
.prd_image .image_text
{
	text-decoration: none;
	color:#333;
	margin:0 auto;
}
.col-nut_cat
{
	padding:20px 0px;
}
.col-nut_cat .btn
{
	margin-bottom:40px;
	float:right;
}
.col-nut_cat .title
{
	margin-top:50px;
}
.col-nut_cat ul li
{
	padding:10px 30px;
}
.col-nut_cat .table
{
  width:90%;
  border-collapse:collapse;
}
}

.col-nut_cat .table tr:nth-child(even) {background-color: #fff;}
.container_p{padding:0.01em 16px}
.round_p{border-radius:12px; color:#000!important;background-color:#e0e0e0!important}
.blue_p{color:#fff!important;background-color:#0aad25!important}
.col-img { width:30%; float:left; padding-left:5px;}
.col-heading { width:60%; float:left;padding-left:20px;}


  @media only screen and (min-width: 320px) and (max-width: 767px) {

.col-30
{
 width: 100%;	
}
.col-40
{
width: 100%;	
}
.col-50
{
width: 100%;	
}
}